body { 
 
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", Times, "Times New Roman";
   -webkit-font-smoothing: antialiased !important;
	overflow-x: hidden;
}

.submitted{
    display: none;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0px;
    padding: 0px;
}
a:hover, a:active-trail, a:focus, a {
    outline: 0 none !important;
}
header, .main-container, footer {
    float: left;
    width: 100%;
}
.normal {
    display: inline;
}
header {
    padding: 15px 0;
}

.leaf{ float: left;}

.leaf li{  padding-top: 3px;
    padding-bottom: 3px;
    border-right: solid 1px #C1B78E;
    height: 13px;
    margin-top: 8px;

}
.leaf li a{    color: #C1B78E;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    top: -5px;
    position: relative;

}

.last{
border:none !important;
}

.main-menu {
    float: left;
    width: 100%;
    background: #3D3316;
    min-height:20px;
}
.navbar-default {
    margin: 0px;
    background: none;
    border: none;
    min-height: 30px;

}



.navbar-default .navbar-nav > li {
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: solid 1px #C1B78E;
    height: 13px;
    margin-top: 8px;
     padding-right: 0px !important;
}
.navbar-default .navbar-nav > .first > a {
    padding-left: 0px;
}
.navbar-default .navbar-nav > .active {
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #C1B78E;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    top: -5px;
    position: relative;
}
@media only screen and (max-width : 1024px) and  (min-width : 768px){

}



.navbar-default .navbar-nav ul {
    position:absolute;
    left:-9999px;
    top:-9990px;
    list-style-type:none;
}
.navbar-default .navbar-nav li:hover { position:relative; background:none; }
.navbar-default .navbar-nav li:hover ul {
    left:0px;
    top:20px;
    background:#3D3316;
    height: 180px !important;
    width: auto !important;
    float: left !important;
    display: block !important;
    padding:0px;
}





.navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: none;
    color: #fff;
}
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 3%;
}
.navbar-collapse {
    padding: 0px;
}
.carousel-control {
    background: none !important;
    opacity: 1;
}
.glyphicon-chevron-left:before {
    content:" ";
}
.glyphicon-chevron-right:before {
    content:" ";
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 49%;
}
#carousel-example-generic {
    border-bottom: solid 30px #3D3316;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
    margin: 0px;
    width: 60px;
}
.disc {
    float: left;
    width: 100%;
    padding: 15px 0;
}
.disc p {
    font-size: 14px;
}
footer {
    padding-top: 15px;
    padding-bottom: 15px;
}
footer p {
    font-size: 12px;
    padding: 10px 0;
}
.social {
    float: left;
    width: 100%;
    text-align: right;
}





@media (min-width:1200px) and (max-width:5000px) {
		.view-new-service	.item-list ul li {

padding: 0;
width: 20%;
float: left;
margin-right:3%;
}

.view-aboutus .item-list ul li {

padding: 0;
width: 26%;
float: left;
margin-right:4%;
}
}
@media (min-width:992px) and (max-width:1199px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 17px;
        top: -6px;
    }
		.view-new-service	.item-list ul li {
margin: 0 0 0.25em 1.5em;
padding: 0;
width: 25%;
float: left;
margin-left:5%;
}
.view-aboutus .item-list ul li {
margin: 0 0 0.25em 1.5em;
padding: 0;
width: 27%;
float: left;
margin-left:3%;
}
}
@media (min-width:768px) and (max-width:991px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 6px;
        top: -6px;
        font-size: 9px !important;
    }
	.field-name-field-head {

		
margin-left: 5px !important;
margin-top: 15px;
font-size: 14px !important;
}
.view-new-service	.item-list ul li {
margin: 0 0 0.25em 1.5em;
padding: 0;
width: 30% !important;
float: left;
margin-left:3% !important;


}

}
@media (min-width:0px) and (max-width:767px) {
    .news-sub {
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0px;
        font-size: 9px !important;
    }
    .navbar-nav {
        margin: 0px;
        padding: 0 25px;
        text-align: center;
    }
    .navbar-default .navbar-nav > li {
        border: none;
        height: auto;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        box-shadow: none;
    }
    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        top: 31%;
    }
    p {
        text-align: center !important;
    }
    .social {
        text-align: center;
    }
	.view-new-service	.item-list ul li {



}
	
	
.field-name-field-head {

float: none !important;

}

.field-item{
		float:none !important;;
		}
		
		
		.view-aboutus .item-list ul li {
margin: 0 0 0.25em 1.5em;
padding: 0;
width: 90%;
float: left;
margin-left:4%;
}	
.view-aboutus p strong {
clear:both;
float: left;
}

.view-aboutus  .field-name-field-image{
clear:both;
height: 95px;
}
.view-aboutus h5{
clear:both;
}

		
}
.view-new-service  p {
	margin:0px;
	float:left;
	text-align: left !important;
	padding-bottom: 3px;
	
		}










{

    margin-left: 100px;
}

#head{ 
           
            min-height: 100%;
            background-size:100%;
            background-repeat: no-repeat;
			display:block;
        }
        #head span{
            font-size:28px;
            color:#aa995c;
            padding: 250px 0 0 100px;
        }


        
        @media all and (max-width: 800px) and (min-width: 200px) {
            #head{ 
                
            }
            #head span{
                font-size:18px;
                 padding: 50px 0 0 30px;
            }
        }



hr {
  color: #aa995c;
 background-color: #aa995c;
 height: 1px;
 margin-top: 5px;

}

p{
   
     text-align:left;
      font-size:14px;
	  line-height: 20px;
	  text-align:justify;
}
.content h3 {
margin-bottom:10px;
}

#head1{ 

           
            background-size:100%;
            background-repeat: no-repeat;
        }
        #head1 span{
            font-size:28px;
            color:white;
            padding: 250px 0 0 100px;
        }



#head2{ 
           
          
            background-size:100%;
            background-repeat: no-repeat;
        }
        #head2 span{
            font-size:28px;
            color:white;
            padding: 250px 0 0 100px;
        }



 @media all and (max-width: 800px) and (min-width: 200px) {
            #head2{ 
                
            }
            #head2 span{
                font-size:18px;
                 padding: 50px 0 0 30px;
            }
        }


        .col4{
            display: block;
    float:left;
    width:20%;
    margin: 1.5% 1.5% 1.5% 1.6%;


        }


        @media all and (max-width: 800px) and (min-width: 200px) {
            #head1{ 
                
            }
            .col4{
                width:100%;
            }
            #head1 span{
                font-size:18px;
                 padding: 50px 0 0 30px;
            }
        }
		/* service page */
		.view-new-service header {
		display:none;
		}
		.view-new-service ul {
		list-style: none;
		}
		.view-new-service  p {
	margin:0px;
	font-size:13px !important;
		}
		
		.field-item{
		float:left;
		}
		
		.field-name-field-head {

		color: #aa995c;
text-transform: uppercase;
margin-left: 7px;
margin-top: 15px;
float: left;
font-size: 15px;
}
		.field-name-field-image{
		height:0px;	
		}

		/* about-us */
		
		
			.view-aboutus header {
		display:none;
		}
		.view-aboutus ul {
		list-style: none;
		}
.view-aboutus  p {
	margin:0px;
	text-align: left !important;
	font-size:13px !important;
		}
		
		.view-aboutus  h5 {
		font-weight:bold;
		}
		
		/* contact page */
		.form-item-cid{
		display:none;
		}
		
		
	.contact-form-page{
	
	width:45%;
	float:left;
	margin-left:2%;
	}
	.contact-details{
	width:45%;
	float:left;
	}
	 .contact-form-page label {
	width: 100%;
	}
	.form-submit{
	border:none;
	padding:5px 10px;
	background:#AA995C;
	color:#ffffff;
	}
	.form-textarea-wrapper textarea {
   
    width: 78%;
   
}

.resizable-textarea .grippie {
background:none;
border:none;
}

.contact-area-left {
float:left;
width:40%;
font-size:12px;
}

.contact-area-right{
float:left;
width:40%;
font-size:12px;
}
/* news pages */
.news-page header{
margin-top:20px;
margin-bottom;
}	
.news-page .submitted{
display:none;
}	
.news-page p {
margin-right: 30px;
}
	
.news-page h2 a {
color:#aa995c;
}

.news-page h2 a:hover{
color:#3D3316;
text-decoration:none;
margin-top:10px;
}
.news-page footer a{
color:#3D3316;
}
.news-page a{
color:#3D3316;
}
.block-body p{
color: #aa995c;
position: absolute;
margin-top: -370px;
margin-left: 9%;
font-size: 20px;
text-transform: uppercase;
}	

.aboutus-content{
margin-top: 20px;
margin-bottom: 30px;

}

.contact-form  input[type="text"] {
width:400px;
}
.mailchimp-signup-subscribe-form  label{
float:left;
width:110px;


}
.mailchimp-signup-subscribe-form  input{

float:left;
}

.mailchimp-signup-subscribe-form .form-item{
padding-bottom: 20px;
width:400px;

}.content p{padding-bottom:10px;}/* Hotel page */.clear {clear:both;overflow:hidden;}.hotel-location-img {float:left;width:16%;padding-top:50px;}.hotel-location-img img {width:180px;height:180px;}.hotel-main-content{float:left;width:55%;margin-left:2%;margin-right:2%;}.hotel-main-content h2{margin-bottom:20px;}.hotel-main-content .content{border-right :solid 3px #dacea8;padding-bottom: 25px;}.hotel-main-content .content p{margin-right: 20px;margin-bottom: 10px;}.hotel-key-section  h3{color:#867a50;text-transform: uppercase;margin-bottom:10px;}.hotel-key-section  li { list-style-image: url('images/hotel_img.png'); margin-bottom: 5px; } .hotel-key-section  ul{margin-left:10px; }.hotel-key-section{float:left;width:24%;padding-top:50px;}.hotel-left {float:left;width:40%;margin-top:20px;margin-left:20px;}.hotel-left  li { list-style-image: url('images/hotel_img.png'); margin-bottom: 5px; }.hotel-left  h3{color:#867a50;text-transform: uppercase;margin-bottom:10px;margin-top:10px;}.hotel-right {float: left;width: 50%;margin-right: 20px;margin-left: 30px;margin-top: 60px;}.hotel-location-img .block-block{display:none;}.region-hotel-key .block-block h2{display:none;}.hotel-color-bar {height:20px;width:100%;background:#3D3316;}.hotel-page .block-imageblock  h2{display:none;}.hotel-mid-content {margin-bottom:20px;}.separate-line{margin-top:20px;margin-bottom:20px;border-bottom: solid 3px #dacea8;width: 100%;height: 3px;display: block;}/* page title hidden */.hotel-page .block-body p {display:none;}#thumbs a.prev{display:none;}#galleriffic #thumbs {height: auto;}.our-hotels li{list-style-image: url('images/hotel_img.png');margin-bottom: 5px;margin-left:20px;}.our-hotels li a{color: #333;}/* meedia query */@media (min-width: 1400px) and (max-width: 2000px) {.block-body p{      margin-left: 11%;	}}@media (min-width: 1200px) and (max-width: 1399px) {.block-body p{      margin-left: 9%;	}}@media (min-width: 900px) and (max-width: 1199px) {	.block-body p{      margin-left: 8%;	}}@media (min-width: 480px) and (max-width: 899px) {}@media (max-width: 480px) {}

.views-row-5{
    clear: right;
}

.views-row-6{
    clear: left;
}

.news-page .item-list ul li {
  height: 276px !important;
}
ul.menu li{
margin:0 0 0 0 !important;
}
.navbar-default .navbar-nav > li > a{
    padding-right: 0px !important;
}