* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.map {
  margin:0px !important;
  position: relative;
}

.box16{
  position:absolute;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.map img {

  /*max-width:100%;*/
  display: block;

}


/*new stuff*/
/*
@media only screen and (max-width:500px ) {
	.box2{
		top: 70% !important;
	}
}
*/

.field-item{

  margin-left: -14px !important;
  padding-top: 20px;
  
}

/*end of new stuff*/

.description { 
position: relative;
left: -200px;
display: inline;
margin-top: -210px;
margin-left: 100px;
 /* width:400px;
  height:200px;*/
}

.title{display: inline;
  float: left;
}

.image{display: inline;
  /*float: left;*/
    margin-left: 201px;
   z-index: -200;
  max-width: 130px;
}

#pin-2 {
	top: 57.9%;
	left: 11%;
}


#pin-16 {
	top: 47.5%;
	left: 11%;
}

#pin-17 {
    top: 68.5%;
    left: 11%;
}

@media only screen and (max-width:500px ) {

	#tit02, #tit03, #tit04, #tit05, #tit06, #tit07, #tit08, #tit09, #tit010, #tit011, #tit012, #tit013, #tit14, #tit15, #tit16, #tit17, #tit18{
		font-size: 6px !important;
  }
  
  #pin-16 {
		top: 75% !important;
		left: 9% !important;
	}

	#pin-2 {
		top: 79.4% !important;
		left: 9% !important;
	}
	
	#pin-17 {
		top: 84% !important;
		left: 9% !important;
	}
	
	#pin-3 {
		top: 87.5% !important;
		left: 9% !important;
	}
	
	#pin-4 {
		top: 86% !important;
		left: 9% !important;
	}
	
	#pin-5 {
		top: 92.5% !important;
		left: 9% !important;
  }
  
  #pin-18 {
		top: 90.5% !important;
		left: 9% !important;
	}
	
	#pin-6 {
		top: 94% !important;
		left: 9% !important;
	}
	
	#pin-12 {
		top: 88.8% !important;
		left: 9% !important;
	}
	
	#pin-7 {
		top: 84% !important;	
		right: 5.8% !important;
	}
	
	#pin-8 {
		top: 88% !important;
		right: 5.8% !important;	
	}
	
	#pin-9 {
		top: 90% !important;	
		right: 5.8% !important;
	}
	
	#pin-10 {
		top: 92% !important;	
		right: 5.8% !important;
	}
	
	#pin-11 {
		top: 93.6% !important;	
		right: 5.8% !important;
	}
	
	#pin-14 {
		top: 72.5% !important;
		right: 1% !important;	
	}
	
	#pin-15 {
		top: 86.5% !important;
		left: auto !important;
		right: 5.8% !important;	
	}
}

.box2 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.box17 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.pin-text2 {
  position: absolute;
  left: -4%;
  width: 132px;
   top: -488%;
  white-space:nowrap;
  display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}

.pin-text16 {
  position: absolute;
  left: -4%;
  width: 132px;
   top: -350%;
  white-space:nowrap;
  display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}


.box2:hover > .pin-text2 {
  display: block;
}

.pin-text17 {
  position: absolute;
  left: -4%;
  width: 132px;
   top: -488%;
  white-space:nowrap;
  display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}

.box2:hover > #tit02{
  visibility: hidden;
}

.box17:hover > .pin-text17 {
  display: block;
}

.box16:hover > .pin-text16 {
  display: block;
}

.box17:hover > #tit17{
  visibility: hidden;
}

.box16:hover > #tit16{
  visibility: hidden;
}

#pin-3 {
  top: 76.5%;
  left: 11%;
}

.box3 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}



.pin-text3 {
  position: absolute;
  left: -4%;
    top: -179%;
    width: 60%;
    height: 168px;
  transform:translateY(-50%); 
  white-space:nowrap;
  display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}



.box3:hover > .pin-text3 {
  display: block;
}

.box3:hover > #tit03{
  visibility: hidden;
}

#pin-4 {

top: 72.5%;
left: 11%;
}

.box4 {

  width:2%;

  height:5%;

 

 

  background-position: top center;

  background-repeat: no-repeat;

  background-size: contain;

  position: absolute;

}



.pin-text4 {

  left: -4%;
  position: absolute;
  top: -181%;
  transform:translateY(-50%); 
  white-space:nowrap;
  width: 136px;
  display: none;
  border-radius: 14px;

  z-index: 1004;



}



.box4:hover > .pin-text4 {

  display: block;

  

 

}

.box4:hover > #tit04{

  visibility: hidden;
}


#pin-5 {
   top: 88%;
    left: 11%;
}

.box5 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.pin-text5 {
left: -2.5%;
position: absolute;
top: -174%;
width: 62%;
height: 656%;
transform:translateY(-50%); 
white-space:nowrap;
display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}


.box5:hover > .pin-text5 {
  display: block;
}

.box5:hover > #tit05{
  visibility: hidden;
}


#pin-18 {
  top: 84.7%;
   left: 11%;
}

.box18 {
 width:2%;
 height:5%;
 background-position: top center;
 background-repeat: no-repeat;
 background-size: contain;
 position: absolute;
}

.pin-text18 {
left: -2.5%;
position: absolute;
top: -174%;
width: 62%;
height: 656%;
transform:translateY(-50%); 
white-space:nowrap;
display: none;
 /*width: 360px;
  background-color: #bd9853;*/
 border-radius: 14px;
 z-index: 1004;
}


.box18:hover > .pin-text18 {
 display: block;
}

.box18:hover > #tit18{
 visibility: hidden;
}


#pin-6 {
top: 91.5%;
left: 11%;

}

.box6 {

  width:2%;

  height:5%; 

  background-position: top center;

  background-repeat: no-repeat;

  background-size: contain;

  position: absolute;

}



.pin-text6 {

  position: absolute;
  left: -4%;
  width: 90%;
  top: -150%;
  transform:translateY(-50%); 
  white-space:nowrap;
  display: none;
  /*width: 360px;

   background-color: #bd9853;*/

  border-radius: 14px;

  z-index: 1004;



}



.box6:hover > .pin-text6 {

  display: block;

  

 

}

.box6:hover > #tit06{

  visibility: hidden;

 

}



#pin-7 {

top: 69.5%;
right: 16.5%;

}

.box7 {

  width:2%;

  height:5%;

  



  background-position: top center;

  background-repeat: no-repeat;

  background-size: contain;

  position: absolute;

}



.pin-text7 {

  position: absolute;

 left: 33%;

 top: -159%;

  transform:translateY(-50%); 

  white-space:nowrap;

  display: none;

  /*width: 360px;

   background-color: #bd9853;*/

  border-radius: 14px;

  z-index: 1004;



}



.box7:hover > .pin-text7 {

  display: block;

  

 

}

.box7:hover > #tit07{

  visibility: hidden;

 

}



#pin-8 {

    top: 78.6%;

    right: 16.5%;

}

.box8 {

  width:2%;

  height:5%;

  

 

  background-position: top center;

  background-repeat: no-repeat;

  background-size: contain;

  position: absolute;

}



.pin-text8 {

  position: absolute;

 left: 23.5%;

   width: 87%;
    height: 650%;
    top: -214%;

  transform:translateY(-50%); 

  white-space:nowrap;

  display: none;

  /*width: 360px;

   background-color: #bd9853;*/

  border-radius: 14px;

  z-index: 1004;



}



.box8:hover > .pin-text8 {

  display: block;

  

 

}

.box8:hover > #tit08{

  visibility: hidden;

 

}



#pin-9 {

    top: 83%;

    right: 16.5%;

}

.box9 {

  width:2%;
  height:5%; 
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}



.pin-text9 {

  position: absolute;

 left: 34%;
top: -231%;
    width: 77%;
    height: 168px;

  transform:translateY(-50%); 

  white-space:nowrap;

  display: none;

  /*width: 360px;

   background-color: #bd9853;*/

  border-radius: 14px;

  z-index: 1004;



}



.box9:hover > .pin-text9 {

  display: block;

  

 

}

.box9:hover > #tit09{

  visibility: hidden;

 

}





#pin-10 {
    top: 87.7%;
    right: 16.5%;
}

.box10 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}



.pin-text10 {

  position: absolute;

 left: 6%;
width: 110%;
height: 170px;


 top: -151%;
  transform:translateY(-50%); 
  white-space:nowrap;
  display: none;

  /*width: 360px;

   background-color: #bd9853;*/

  border-radius: 14px;

  z-index: 1004;



}



.box10:hover > .pin-text10 {

  display: block;

  

 

}

.box10:hover > #tit010{

  visibility: hidden;

 

}







#pin-11 {

    top: 91.8%;

    right: 16.5%;

}

.box11 {

  width:2%;

  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}



.pin-text11 {

  position: absolute;
  left: 36%;
  width: 75%;
  height: 170px;
  top: -140%;
  transform:translateY(-50%); 

  white-space:nowrap;

  display: none;

  /*width: 360px;

   background-color: #bd9853;*/

  border-radius: 14px;

  z-index: 1004;



}



.box11:hover > .pin-text11 {

  display: block;

  

 

}

.box11:hover > #tit011{

  visibility: hidden;

 

}







#pin-12 {
 top: 80.5%;
 left: 11%;

}

.box12 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}



.pin-text12 {

  position: absolute;
  left: -5.5%;
    top: -187%;
    width: 133px;
    height: 170px;

  transform:translateY(-50%); 
  white-space:nowrap;
  display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}
.padd0{
  padding: 0px !important;
  margin:0px !important;
}


.box12:hover > .pin-text12 {

  display: block; 

}

.box12:hover > #tit012{
  visibility: hidden; 

}

#pin-14{
  position: absolute;
  top: 40.7%;
  left: 69%;
height:12px;
}

.pin-text14 {
display: none;
  z-index: 1004;
  position: relative;
    top: -105px;
    left: 52px;
    width: 41%;

}
.box14:hover > .pin-text14 {
  display: block;
}
.box14:hover > #tit14{
  visibility: hidden;
}
/*
#pin-15{
  position: absolute;
      top: 74%;
    left: 66%;
}*/
@media only screen and (max-width:1640px ) and (min-width: 1349px) {
#pin-15{
   right: 16.5% !important;
} 

#pin-14{
   left:68.6%!important;
height:12px;
} 
}

@media only screen and (max-width:2000px ) and (min-width: 1600px) {

  #pin-14{
     top:36.7%;
  } 

  #pin-16 {
    top: 44%;
  }

  #pin-2 {
    top: 55.9%;
  }

  #pin-17 {
    top: 66.7%;
  }

  #pin-7 {
    top: 68.5%;
  }

  #pin-8 {
    top: 78%;
  }

  #pin-15 {
    top: 73%;
  }

  #pin-12 {
    top: 80.3%;
  }

  #pin-4 {
    top: 71.5%;
  }
  
  }

@media only screen and (max-width:1349px ) and (min-width: 1026px) {
#pin-15{
   right: 16.5% !important;
}
#pin-14{
   left:68%!important;
height:12px;
} 
}

@media only screen and (max-width : 1024px) {
}

@media only screen and (max-width : 1024px) and  (min-width : 769px){
    #pin-2{
      top:59.2% !important;
    }
    #pin-16{
      top:49.2% !important;
    }
    #pin-15{
      /*left:59.9%!important;*/
    }
    #pin-14{
      left:64%!important;
      top:43% !important;
      height:12px;
    }
    #pin-7{
      top:70%!important;
    }
    #pin-17{
      top:68.5%!important;
    }
    #pin-4{
      top:73%!important;
    }
    #pin-15{
      top:74.8%!important;
    }
    #pin-11{
      top:91%!important;
    }
    #pin-10{
      top:87%!important;
    }
    #pin-3{
      top:77%!important;
    }
}


#pin-15 {
  top: 73.8%;
  right: 16.5%;
  left: auto !important;
}

.box15 {
  width:2%;
  height:5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}



.pin-text15 {
  position: absolute;
     top: -73px;
    left: 94px;
    width: 41%;
 
    height: 168px;
  transform:translateY(-50%); 
  white-space:nowrap;
  display: none;
  /*width: 360px;
   background-color: #bd9853;*/
  border-radius: 14px;
  z-index: 1004;
}


.box15:hover > .pin-text15 {

  display: block;
}
.box15:hover > #tit15{
  visibility: hidden;
}



.pin-text, .pin-text2, .pin-text3, .pin-text4, .pin-text5, .pin-text6, .pin-text17, h3 {

     color:white;
    text-shadow: 1px 1px 1px #000;

}

/*zooming*/

/*image zooming*/

#zoom {

    max-width: 1200px;

    text-align: center;

    margin: auto;

}

.zoomimg {

    display: inline-block;

    width: auto;

    

    padding: 5px 5px 5px 5px;

    background-size: 50% 50%;

    background-repeat: no-repeat;

    background-position: center center;

    transition: all .5s ease;

}

.zoomimg:hover {

    cursor: pointer;

    background-size: 100% 100%;

}


/* No greater than 770px, no less than 760px */
@media only screen and (max-width:770px) {
  #pin-2 {
    	top: 64%;
	}
	
	#pin-3 {
    	top: 81%;
  }
  
  #pin-16 {
    top: 56%;
  }  
}​