
@import url("bootstrap.min.css");

body {
    font-family:'Lato', sans-serif;
    overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0px;
    padding: 0px;
}
a:hover, a:active, a:focus, a {
    outline: 0 none !important;
}
header, .main-container, footer {
    float: left;
    width: 100%;
}
.normal {
    display: inline;
}
header {
    padding: 15px 0;
}
.main-menu {
    float: left;
    width: 100%;
    background: #3D3316;
    min-height:20px;
}
.navbar-default {
    margin: 0px;
    background: none;
    border: none;
    min-height: 30px;
}
.navbar-default .navbar-nav > li {
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: solid 1px #C1B78E;
    height: 13px;
    margin-top: 8px;
}
.navbar-default .navbar-nav > .first > a {
    padding-left: 0px;
}
.navbar-default .navbar-nav > .last {
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #C1B78E;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    top: -5px;
    position: relative;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: none;
    color: #fff;
}
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 3%;
}
.navbar-collapse {
    padding: 0px;
}
.carousel-control {
    background: none !important;
    opacity: 1;
}
.glyphicon-chevron-left:before {
    content:" ";
}
.glyphicon-chevron-right:before {
    content:" ";
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 49%;
}
#carousel-example-generic {
    border-bottom: solid 30px #3D3316;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
    margin: 0px;
    width: 60px;
}
.disc {
    float: left;
    width: 100%;
    padding: 15px 0;
}
.disc p {
    font-size: 14px;
}
footer {
    padding-top: 15px;
    padding-bottom: 15px;
}
footer p {
    font-size: 12px;
    padding: 10px 0;
}
.social {
    float: left;
    width: 100%;
    text-align: right;
}
@media (min-width:1200px) and (max-width:5000px) {
}
@media (min-width:992px) and (max-width:1199px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 17px;
        top: -6px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 6px;
        top: -6px;
    }
}
@media (min-width:0px) and (max-width:767px) {
    .news-sub {
        background-image:url('images/news.jpg'); 
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0px;
    }
    .navbar-nav {
        margin: 0px;
        padding: 0 25px;
        text-align: center;
    }
    .navbar-default .navbar-nav > li {
        border: none;
        height: auto;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        box-shadow: none;
    }
    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        top: 31%;
    }
    p {
        text-align: center !important;
    }
    .social {
        text-align: center;
    }
}
