body {
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", Times, "Times New Roman";

    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0px;
    padding: 0px;
}
a:hover, a:active-trail, a:focus, a {
    outline: 0 none !important;
}
header, .main-container, footer {
    float: left;
    width: 100%;
}
.normal {
    display: inline;
}
header {
    padding: 15px 0;
}

.field-label{
    display: none;
}
.main-menu {
    float: left;
    width: 100%;
    background: #3D3316;
    min-height:20px;
}
.navbar-default {
    margin: 0px;
    background: none;
    border: none;
    min-height: 30px;
}
.navbar-default .navbar-nav > li {
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: solid 1px #C1B78E;
    height: 13px;
    margin-top: 8px;
}

.navbar-default .navbar-nav > .first > a {
    padding-left: 0px;
}
.navbar-default .navbar-nav > .last {
    border: none;
}

li.expanded  ul li {
    border-right: none !important;
}
.navbar-default .navbar-nav > li > a {
    color: #C1B78E;
   /* text-transform: uppercase;*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px!important;
    padding-right: 10px !important;
    display: inline-block;
    top: -5px;
    position: relative;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: none;
    color: #fff;
}

/* menu
.leaf{ float: left;}

.leaf li{  padding-top: 3px;
    padding-bottom: 3px;
    border-right: solid 1px #C1B78E;
    height: 13px;
    margin-top: 8px;

}
.leaf li a{    color: #C1B78E;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    top: -5px;
    position: relative;

}

.last{
border:none !important;
}

.main-menu {

    float: left;
    width: 100%;
    background: #3D3316;
    min-height:20px;
}
.navbar-default {
     z-index: 200000;
    margin: 0px;
    background: none;
    border: none;
    min-height: 30px;
}

.navbar-default .navbar-nav > li {


    border-right: solid 1px #C1B78E;
    height: auto;


        padding-top: 6px;
margin-top: 4px;
margin-bottom: 3px;

}



li.expanded  ul li {
   border-right: none !important;
}

li.expanded  ul .first{
padding-top:20px !important;
}
.navbar-default .navbar-nav > .first > a {

}
.navbar-default .navbar-nav > .active {
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #C1B78E;
   /* text-transform: uppercase;*/
   /* padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    top: 0px;
    position: relative;
}
*/






.navbar-default li ul {
 border:none;

  padding: 0;
  position: absolute;
top: 29px;
left: -7px;
  background-color: #3D3316;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.navbar-default li ul li { 
  background:#3D3316; 
  display: block; 
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.navbar-default li ul li:hover { background: none; }
.navbar-default li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}








.navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: none;
    color: #fff;
}

 end menu */
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 3%;
}
.navbar-collapse {
    padding: 0px;
}
.carousel-control {
    background: none !important;
    opacity: 1;
}
.glyphicon-chevron-left:before {
    content:" ";
}
.glyphicon-chevron-right:before {
    content:" ";
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 37%;
}
#carousel-example-generic {

}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
    margin: 0px;
    width: 60px;
}
.disc {
    float: left;
    width: 100%;
    padding: 15px 0;
}
.disc p {
    font-size: 14px;
}
footer {
    padding-top: 15px;
    padding-bottom: 15px;
}
footer p {
    font-size: 12px;
    padding: 10px 0;
}
.social {
    float: left;
    width: 100%;
    text-align: right;
}





@media (min-width:1200px) and (max-width:5000px) {
    .view-new-service	.item-list ul li {

        padding: 0;
        width: 20%;
        float: left;
        margin-right:3%;
    }

    .view-aboutus .item-list ul li {

        padding: 0;
        width: 26%;
        float: left;
        margin-right:4%;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 17px;
        top: -6px;
    }
    .view-new-service	.item-list ul li {
        margin: 0 0 0.25em 1.5em;
        padding: 0;
        width: 25%;
        float: left;
        margin-left:5%;
    }
    .view-aboutus .item-list ul li {
        margin: 0 0 0.25em 1.5em;
        padding: 0;
        width: 27%;
        float: left;
        margin-left:3%;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 2px;
        top: -6px;
    }
    .field-name-field-head {


        margin-left: 5px !important;
        margin-top: 15px;
        font-size: 14px !important;
    }
    .view-new-service	.item-list ul li {
        margin: 0 0 0.25em 1.5em;
        padding: 0;
        width: 30% !important;
        float: left;
        margin-left:3% !important;


    }

}
@media (min-width:0px) and (max-width:767px) {
    .news-sub {
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0px;
    }
    .navbar-nav {
        margin: 0px;
        padding: 0 25px;
        text-align: center;
    }
    .navbar-default .navbar-nav > li {
        border: none;
        height: auto;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        box-shadow: none;
    }
    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        top: 31%;
    }
    p {
        text-align: center !important;
    }
    .social {
        text-align: center;
    }
    .view-new-service	.item-list ul li {



    }


    .field-name-field-head {

        float: none !important;

    }

    .field-item{
        float:none !important;;
    }


    .view-aboutus .item-list ul li {
        margin: 0 0 0.25em 1.5em;
        padding: 0;
        width: 90%;
        float: left;
        margin-left:4%;
    }	
    .view-aboutus p strong {
        clear:both;
        float: left;
    }

    .view-aboutus  .field-name-field-image{
        clear:both;
        height: 95px;
    }
    .view-aboutus h5{
        clear:both;
    }


}
.view-new-service  p {
    margin:0px;
    float:left;
    text-align: left !important;
    padding-bottom: 3px;

}


/*This is for press page*/

.news-page .item-list ul li {
padding: 0;
width: 13%;
float: left;
margin-left: 6%;
height: 276px;
}
.news-page ul{
    list-style: none;
  }

 /* header name hide*/
.news-page h2 a{
    pointer-events: none;
   cursor: default;
}





#head{ 

    min-height: 100%;
    background-size:100%;
    background-repeat: no-repeat;
    display:block;
}
#head span{
    font-size:28px;
    color:#aa995c;
    padding: 250px 0 0 100px;
}



@media all and (max-width: 800px) and (min-width: 200px) {
    #head{ 

    }
    #head span{
        font-size:18px;
        padding: 50px 0 0 30px;
    }
}



hr {
    color: #aa995c;
    background-color: #aa995c;
    height: 1px;
    margin-top: 5px;

}

p{

    text-align:left;
    font-size:14px;
    line-height: 20px;
    text-align:justify;
}
.content h3 {
    margin-bottom:10px;
}

#head1{ 


    background-size:100%;
    background-repeat: no-repeat;
}
#head1 span{
    font-size:28px;
    color:white;
    padding: 250px 0 0 100px;
}



#head2{ 


    background-size:100%;
    background-repeat: no-repeat;
}
#head2 span{
    font-size:28px;
    color:white;
    padding: 250px 0 0 100px;
}



@media all and (max-width: 800px) and (min-width: 200px) {
    #head2{ 

    }
    #head2 span{
        font-size:18px;
        padding: 50px 0 0 30px;
    }
}


.col4{
    display: block;
    float:left;
    width:20%;
    margin: 1.5% 1.5% 1.5% 1.6%;


}


@media all and (max-width: 800px) and (min-width: 200px) {
    #head1{ 

    }
    .col4{
        width:100%;
    }
    #head1 span{
        font-size:18px;
        padding: 50px 0 0 30px;
    }
}
/* service page */
.view-new-service header {
    display:none;
}
.view-new-service ul {
    list-style: none;
}
.view-new-service  p {
    margin:0px;
    font-size:13px !important;
}

.field-item{
    float:left;
}

.field-name-field-head {

    color: #aa995c;
    text-transform: uppercase;
    margin-left: 7px;
    margin-top: 15px;
    float: left;
    font-size: 15px;
}
.field-name-field-image{
    height:0px;	
}

/* about-us */


.view-aboutus header {
    display:none;
}
.view-aboutus ul {
    list-style: none;
}
.view-aboutus  p {
    margin:0px;
    text-align: left !important;
    font-size:13px !important;
}

.view-aboutus  h5 {
    font-weight:bold;
}

/* contact page */
.form-item-cid{
    display:none;
}


.contact-form-page{

    width:45%;
    float:left;
    margin-left:2%;
}
.contact-details{
    width:45%;
    float:left;
}
.contact-form-page label {
    width: 100%;
}
.form-submit{
    border:none;
    padding:5px 10px;
    background:#AA995C;
    color:#ffffff;
}
.form-textarea-wrapper textarea {

    width: 78%;

}

.resizable-textarea .grippie {
    background:none;
    border:none;
}

.contact-area-left {
    float:left;
    width:40%;
    font-size:12px;
}

.contact-area-right{
    float:left;
    width:40%;
    font-size:12px;
}
/* news pages */

.odd {
     display: none !important;
}
.news-page header{
    display: none;
    margin-top:20px;

}	
.news-page .submitted{
    display:none;
}	
.news-page p {
    text-align: left !important;
    margin-right: -30px;
}

.news-page h2 a {
    color:#aa995c;
}

.news-page h2 a:hover{
    color:#3D3316;
    text-decoration:none;
    margin-top:10px;
}
.news-page footer a{
    color:#3D3316;
}
.news-page a{
    color:#3D3316;
}


.aboutus-content{
    margin-top: 20px;
    margin-bottom: 30px;

}

.contact-form  input[type="text"] {
    width:400px;
}
.mailchimp-signup-subscribe-form  label{
    float:left;
    width:110px;


}
.mailchimp-signup-subscribe-form  input{

    float:left;
}

.mailchimp-signup-subscribe-form .form-item{
    padding-bottom: 20px;
    width:400px;

}.content p{padding-bottom:10px;}


span a {
    color:#333 !important;

}


strong a{
    color:#3D3316 !important;
}
.enquiryMail{
    color:#3D3316 !important;
}

.clear {clear:both;overflow:hidden;}.hotel-location-img {float:left;width:16%;padding-top:50px;}.hotel-location-img img {width:180px;height:180px;}.hotel-main-content{float:left;width:55%;margin-left:2%;margin-right:2%;}.hotel-main-content h2{margin-bottom:20px;}.hotel-main-content .content{border-right :solid 3px #dacea8;padding-bottom: 25px;}.hotel-main-content .content p{margin-right: 20px;margin-bottom: 10px;}.hotel-key-section  h3{color:#867a50;text-transform: uppercase;margin-bottom:10px;}.hotel-key-section  li { list-style-image: url('images/hotel_img.png'); margin-bottom: 5px; } .hotel-key-section  ul{margin-left:10px; }.hotel-key-section{float:left;width:25%;padding-top:50px;}.hotel-left {float:left;width:40%;margin-top:20px;margin-left:20px;}.hotel-left  li { list-style-image: url('images/hotel_img.png'); margin-bottom: 5px; }.hotel-left  h3{color:#867a50;text-transform: uppercase;margin-bottom:10px;margin-top:10px;}.hotel-right {float: left;width: 50%;margin-right: 20px;margin-left: 30px;margin-top: 60px;}.hotel-location-img .block-block{display:none;}.region-hotel-key .block-block h2{display:none;}.hotel-color-bar {height:20px;width:100%;background:#3D3316;}.hotel-page .block-imageblock  h2{display:none;}.hotel-mid-content {margin-bottom:20px;}.separate-line{margin-top:20px;margin-bottom:20px;border-bottom: solid 3px #dacea8;width: 100%;height: 3px;display: block;}
/* page title hidden */.hotel-page .block-body p {display:none;}#thumbs a.prev{}
#galleriffic #thumbs {height: auto;}.our-hotels li{list-style-image: url('images/hotel_img.png');margin-bottom: 5px;margin-left:20px;}.our-hotels li a{color: #333;}
/* meedia query */
@media (min-width: 1400px) and (max-width: 2000px) {.block-body p{margin-left: 11%;}
.pull-news {
margin-left: 25% !important;
}
                                                    .block-body p{
                                                        color: #aa995c;
                                                        position: absolute;
                                                        margin-top: -300px;
                                                        margin-left: 9%;
                                                        font-size: 20px;
                                                        text-transform: uppercase;
                                                    }
                                                    .leaf{ float: left;}

                                                    .leaf li{  padding-top: 3px;
                                                               padding-bottom: 3px;
                                                               border-right: solid 1px #C1B78E;
                                                               height: 13px;
                                                               margin-top: 8px;

                                                    }
                                                    .leaf li a{    color: #C1B78E;
                                                                   text-transform: uppercase;
                                                                   padding-top: 0px;
                                                                   padding-bottom: 0px;
                                                                   padding-left: 25px;
                                                                   padding-right: 25px;
                                                                   display: inline-block;
                                                                   top: -5px;
                                                                   position: relative;

                                                    }

                                                    .last{
                                                        border:none !important;
                                                    }

                                                    .main-menu {

                                                        float: left;
                                                        width: 100%;
                                                        background: #3D3316;
                                                        min-height:20px;
                                                    }
                                                    .navbar-default {
                                                     
                                                        margin: 0px;
                                                        background: none;
                                                        border: none;
                                                        min-height: 30px;
                                                    }

                                                    .navbar-default .navbar-nav > li {


                                                        border-right: solid 1px #C1B78E;
                                                        height: auto;


                                                        padding-top: 6px;
                                                        margin-top: 4px;
                                                        margin-bottom: 3px;

                                                    }



                                                    li.expanded  ul li {
                                                        border-right: none !important;
                                                    }

                                                    li.expanded  ul .first{
                                                        padding-top:20px !important;
                                                        padding-left: 25px;
                                                    }
                                                    .navbar-default .navbar-nav > .first > a {

                                                    }
                                                    .navbar-default .navbar-nav > .active {
                                                        border: none;
                                                    }
                                                    .navbar-default .navbar-nav > li > a {
                                                        color: #C1B78E;
                                                     /*   text-transform: uppercase;*/
                                                        padding-top: 0px;
                                                        padding-bottom: 3px;
                                                        padding-left: 20px;
                                                        padding-right: 20px;
                                                        display: inline-block;
                                                        top: 0px;
                                                        position: relative;
                                                    }







                                                    .navbar-default li ul {
                                                        border:none;

                                                        padding: 0;
                                                        position: absolute;
                                                        top: 29px;
                                                        left: -7px;
                                                        background-color: #3D3316;

                                                        -webkit-box-shadow: none;
                                                        -moz-box-shadow: none;
                                                        box-shadow: none;
                                                        display: none;
                                                        opacity: 0;
                                                        visibility: hidden;
                                                        -webkit-transiton: opacity 0.2s;
                                                        -moz-transition: opacity 0.2s;
                                                        -ms-transition: opacity 0.2s;
                                                        -o-transition: opacity 0.2s;
                                                        -transition: opacity 0.2s;
                                                    }
                                                    .navbar-default li ul li { 
                                                        background:#3D3316; 
                                                        display: block; 
                                                        color: #fff;
                                                        text-shadow: 0 1px 0 #000;
                                                    }
                                                    .navbar-default li ul li:hover { background: none; }
                                                    .navbar-default li:hover ul {
                                                        display: block;
                                                        opacity: 1;
                                                        visibility: visible;
                                                    }








                                                    .navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
                                                        background: none;
                                                        color: #fff;
                                                    }


}
@media (min-width: 1200px) and (max-width: 1399px) {
    .pull-news {
margin-left: 25% !important;
}
   
    .block-body p{ margin-left: 9%;}
    .block-body p{
        color: #aa995c;
        position: absolute;
        margin-top: -300px;
        margin-left: 9%;
        font-size: 20px;
        text-transform: uppercase;
    }
    .leaf{ float: left;}

    .leaf li{  padding-top: 3px;
               padding-bottom: 3px;
               border-right: solid 1px #C1B78E;
               height: 13px;
               margin-top: 8px;

    }
    .leaf li a{    color: #C1B78E;
                   text-transform: uppercase;
                   padding-top: 0px;
                   padding-bottom: 0px;
                   padding-left: 25px;
                   padding-right: 25px;
                   display: inline-block;
                   top: -5px;
                   position: relative;

    }

    .last{
        border:none !important;
    }

    .main-menu {

        float: left;
        width: 100%;
        background: #3D3316;
        min-height:20px;
    }
    .navbar-default {
        z-index: 200000;
        margin: 0px;
        background: none;
        border: none;
        min-height: 30px;
    }

    .navbar-default .navbar-nav > li {


        border-right: solid 1px #C1B78E;
        height: auto;


        padding-top: 6px;
        margin-top: 4px;
        margin-bottom: 3px;

    }



    li.expanded  ul li {
        border-right: none !important;
    }

    li.expanded  ul .first{
        padding-top:20px !important;
        padding-left: 25px;
    }
    .navbar-default .navbar-nav > .first > a {

    }
    .navbar-default .navbar-nav > .active {
        border: none;
    }
    .navbar-default .navbar-nav > li > a {
        color: #C1B78E;
       /* text-transform: uppercase;*/
        padding-top: 0px;
        padding-bottom: 3px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        top: 0px;
        position: relative;
    }







    .navbar-default li ul {
        border:none;

        padding: 0;
        position: absolute;
        top: 29px;
        left: -7px;
        background-color: #3D3316;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
    }
    .navbar-default li ul li { 
        background:#3D3316; 
        display: block; 
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }
    .navbar-default li ul li:hover { background: none; }
    .navbar-default li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }








    .navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background: none;
        color: #fff;
    }


}
@media (min-width: 900px) and (max-width: 1199px) {
    .pull-news {
margin-left: 23% !important;
}
   
    
    .contact-details{
        width: 60%;
    }
    
           .contact-form-page {
width: 100%;
float: none;
}

    .block-body p{ margin-left: 9%;}
    .block-body p{
        color: #aa995c;
        position: absolute;
        margin-top: -250px;
        margin-left: 9%;
        font-size: 20px;
        text-transform: uppercase;
    }    

    .glyphicon img{ width:60%;height:60%} 

    .leaf{ float: left;}

    .leaf li{  padding-top: 3px;
               padding-bottom: 3px;
               border-right: solid 1px #C1B78E;
               height: 13px;
               margin-top: 8px;

    }
    .leaf li a{    color: #C1B78E;
                   text-transform: uppercase;
                   padding-top: 0px;
                   padding-bottom: 0px;
                   padding-left: 25px;
                   padding-right: 25px;
                   display: inline-block;
                   top: -5px;
                   position: relative;

    }

    .last{
        border:none !important;
    }

    .main-menu {

        float: left;
        width: 100%;
        background: #3D3316;
        min-height:20px;
    }
    .navbar-default {
        z-index: 200000;
        margin: 0px;
        background: none;
        border: none;
        min-height: 30px;
    }

    .navbar-default .navbar-nav > li {


        border-right: solid 1px #C1B78E;
        height: auto;


        padding-top: 6px;
        margin-top: 4px;
        margin-bottom: 3px;

    }



    li.expanded  ul li {
        border-right: none !important;
    }

    li.expanded  ul .first{
        padding-top:20px !important;
        padding-left: 25px;
    }
    .navbar-default .navbar-nav > .first > a {

    }
    .navbar-default .navbar-nav > .active {
        border: none;
    }
    .navbar-default .navbar-nav > li > a {
        color: #C1B78E;
      /*  text-transform: uppercase;*/
        padding-top: 0px;
        padding-bottom: 3px;

        display: inline-block;
        top: 0px;
        position: relative;
    }

    .navbar-default li ul {
        border:none;

        padding: 0;
        position: absolute;
        top: 29px;
        left: -7px;
        background-color: #3D3316;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
    }
    .navbar-default li ul li { 
        background:#3D3316; 
        display: block; 
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }
    .navbar-default li ul li:hover { background: none; }
    .navbar-default li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }



    .navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background: none;
        color: #fff;
    }


}
@media (min-width: 480px) and (max-width: 899px) {

        .pull-news {
margin-left: 0% !important;
}
   
    #galleriffic #thumbs {
width:100%;
}

    
    .contact-area-left{
        width: 100%;
float: none;
    }
    .contact-area-right{
            width: 100%;
float: none;   
        
    }
    .contact-details{ width: 100%;
float: none;
    }
       .contact-form-page {
width: 100%;
float: none;
}
    
    
    .contact-form-page {
width: 100%;
float: none;
}
   
    .leaf{ float: left;}

    .leaf li{  padding-top: 3px;
               padding-bottom: 3px;
               border-right: solid 1px #C1B78E;
               height: 13px;
               margin-top: 8px;

    }
    .leaf li a{    color: #C1B78E;
                   text-transform: uppercase;
                   padding-top: 0px;
                   padding-bottom: 0px;
                   padding-left: 5px;
                   padding-right: 5px;
                   display: inline-block;
                   top: -5px;
                   position: relative;

    }

    .last{
        border:none !important;
    }

    .main-menu {

        float: left;
        width: 100%;
        background: #3D3316;
        min-height:20px;
    }
    .navbar-default {
        z-index: 200000;
        margin: 0px;
        background: none;
        border: none;
        min-height: 30px;
    }

    .navbar-default .navbar-nav > li {


        border-right: solid 1px #C1B78E;
        height: auto;


        padding-top: 6px;
        margin-top: 4px;
        margin-bottom: 3px;

    }



    li.expanded  ul li {
        border-right: none !important;
    }

    li.expanded  ul .first{
        padding-top:20px !important;
        padding-left: 0px;
    }
    .navbar-default .navbar-nav > .first > a {

    }
    .navbar-default .navbar-nav > .active {
        border: none;
    }
    .navbar-default .navbar-nav > li > a {
        color: #C1B78E;
       /* text-transform: uppercase;*/
        padding-top: 0px;
        padding-bottom: 3px;

        display: inline-block;
        top: 0px;
        position: relative;
        font-size: 12px !important;
    }

    .navbar-default li ul {
        border:none;

        padding: 0;
        position: absolute;
        top: 29px;
        left: -7px;
        background-color: #3D3316;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
    }
    .navbar-default li ul li { 
        background:#3D3316; 
        display: block; 
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }
    .navbar-default li ul li:hover { background: none; }
    .navbar-default li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }



    .navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background: none;
        color: #fff;
    }
    
    
    
    .block-body p{
        color: #aa995c;
        font-size: 20px;
        text-transform: uppercase;
        margin-top:20px;
        margin-left: 5%;
    }

    .glyphicon img{ 
        width:40%;height:40%
    }
    .aboutus-content {
        margin-top: 0px;
    }
    .block-body p{
        color: #aa995c;
        font-size: 20px;
        text-transform: uppercase;
        margin-top:20px;
    }
    .hotel-location-img {
        width: 100% !important;
    }
    .hotel-location-img {
        padding-top: 0px !important;
    }

        .hotel-main-content {
        width: 100% !important;
        margin-top: 25px;
    }
    .hotel-main-content h2 {
    text-align: center;
}
    .hotel-key-section {
        width: 100%;
        padding-left: 10px;
    }
    .hotel-left{
        width: 100%;
    }
    .hotel-main-content .content{
        border:none;
    }
    .news-sub img{
        width:70%;
        float:right;
    }
    .hotel-key-section {
        padding-top:0px;
        padding-bottom: 20px;
    }
        .hotel-location-img img {
    margin: 0 auto;
}
}
@media (max-width: 480px) {
            .pull-news {
margin-left: 0% !important;
}
   
        #galleriffic #thumbs {
width:100%;
}
    
    .hotel-location-img img {
    margin: 0 auto;
}
    
    .contact-area-left{
        width: 100%;
float: none;
    }
    .contact-area-right{
            width: 100%;
float: none;   
        
    }
    .contact-details{ width: 100%;
float: none;
    }
       .contact-form-page {
width: 100%;
float: none;
}
    .glyphicon img{ 
        width:40%;height:40%
    }
    .aboutus-content {
        margin-top: 0px;
    }
    .block-body p{
        color: #aa995c;
        font-size: 20px;
        text-transform: uppercase;
        margin-top:20px;
    }
    .hotel-location-img {
        width: 100% !important;
    }
    .hotel-location-img {
        padding-top: 0px !important;
    }
    .hotel-main-content {
        width: 100% !important;
        margin-top: 25px;
    }
    .hotel-main-content h2 {
    text-align: center;
}
    .hotel-key-section {
        width: 100%;
        padding-left: 10px;
    }
    .hotel-left{
        width: 100%;
    }
    .hotel-main-content .content{
        border:none;
    }
    .news-sub img{
        width:70%;
        float:right;
    }
    .hotel-key-section {
        padding-top:0px;
        padding-bottom: 20px;
    }
    .advance-link img{
width:250px;
}
#galleriffic{
    width:250px !important;
}
#slideshow-container{
width:250px !important;
}
}

#galleriffic, #gallery{
max-width:100%;
}
#galleriffic>div{
float:none !important;
}


.img-responsivemy{

}

#galleriffic a.pageLink.prev {

margin-left: -20px !important;
position: absolute !important;
}
.fbicon{
    margin-top: 5px;
    float:  left;
}
.node-readmore a{

    display: none;
}

.pull-fb{

    float: right;
}

.contact-details p{

    margin-top: 5px;
}

.mailchimp-signup-subscribe-form{
clear: both;
display: block;
padding-top: 20px;
}

.form-type-select {
padding-bottom: 0px !important;
}

.form-type-select select{
height: 27px;
}

.block-body p{

    display: none;
}

.dmcs-img{

float: right;
margin-top: 10px;
}

.padd0{
padding-right: 0px !important;
padding-left: 0px !important;
}

.field-item ~ .field-item
{
    display: none;
}


.field-item > a> img{
    width:121px !important;
    height:166px !important;
}

/* Nipuna */

.views-row-5{
    clear: right;
}

.views-row-6{
    clear: left;
}
@media only screen and (max-width : 768px) {
 .navbar-default .navbar-nav > li > a {
    padding-left: 5px !important;
    padding-right: 5px !important;
        padding: 0px;
        font-size: 9px !important;

    }
    #pin-1{
  top:50% !important;
    }
    #pin-2{
  top:64% !important;
    }
     #pin-3{
  top:79.5% !important;
    }
     #pin-4{
  top:76% !important;
    }
     #pin-5{
  top:88.6% !important;
    }
    #pin-18{
        top:85.5% !important;
          }
     #pin-6{
  top:91.7% !important;
    }
     #pin-7{
  top:74% !important;
    }
     #pin-8{
  top:81% !important;
    }
     #pin-9{
  top:84.7% !important;
    }
 #pin-10{
  top:88% !important;
    }
     #pin-11{
  top:91.7% !important;
    }
     #pin-12{
  top:82.5% !important;
    }
     #pin-13{
  top:50% !important;
    }
    #pin-14{
        top:50% !important;
        left:63%!important;
    }
     #pin-15{
  top:77% !important;
    left:58.4%!important;
    }
    #pin-17{
        top:72.1% !important;
    }

#tit02, #tit03 ,#tit04, #tit05,#tit06,#tit07,#tit08,#tit09,#tit010,#tit011,#tit012,#tit013,#tit14,#tit15,#tit16,#tit17,#tit18{
    font-size: 11px !important;
}

    }